.background {
    background: url('../img/background-header.jpg');
    /* Center and scale the image nicely */
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #212226;
}

.text-color-white {
    color: #ffffff;
}

nav {
    transition: all 2ms;
    -webkit-transition: all 2ms;
    -moz-transition: all 2ms;
    -ms-transition: all 2ms;
    -o-transition: all 2ms;
}

header h1 {
    position: absolute;
    top: 30%;
    left: 5%;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    font-size: 3rem;
    line-height: 4.625rem;
    margin-bottom: 1.75rem;
    color: #ffffff;
    width: 30rem;
}

header .header-buttons {
    position: absolute;
    top: 80%;
    left: 5%;
}

.btn-outline-lg {
    padding: 1.625rem 1.625rem 1.625rem 1.625rem;
    border: none;
    color: #ffffff;
    display: inline-block;
    background-color: hsl(152, 88%, 35%);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1;
    text-decoration: none;
    transition: all 0.2s;
    margin-left: 1rem;
}


/* .btn-outline-lg:hover {
        color: #fff;
        background-color: transparent;
        border: 1px solid #ffffff;
    } */

.header-buttons i a {
    font-size: 0.875rem;
    color: #ffffff;
    line-height: 1rem;
    text-decoration: none;
    text-transform: none;
}

button:first-of-type {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 1.625rem;
    border: 1px solid #583343;
    background-color: #583343;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

button:first-of-type:hover,
.btn-outline-lg:hover {
    background-color: transparent;
    color: #212226;
    border: 1px solid #ffffff;
}

nav a,
.nav-item a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 0.8rem;
}

.navbar:hover {
    color: aqua;
}

.navbar-brand:hover {
    color: #212226;
}

.nav-item a:hover {
    color: #212226;
}

.dropdown-menu {
    background: rgba(49, 51, 61, 0.7);
}

.overlay {
    background: rgba(49, 51, 61, 0.7);
    width: 100%;
    height: 100%;
}

nav .nav-item:hover {
    color: #212226;
}

.intro h2 {
    color: #24262a;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: "Poppins";
    margin-bottom: 1rem;
}

.intro p {
    /* color: #4d5055; */
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.intro .time {
    margin-bottom: 0.5rem;
    color: #0b36a8;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: "Poppins";
    margin-top: 0.5rem;
}

.intro h6 {
    color: #24262a;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: "Poppins";
}

h6 {
    color: #24262a;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: "Poppins";
}

.bg-gray {
    background-color: #f7f9fb;
}

@media (min-width: 700px) {
    nav a,
    .nav-item a {
        font-size: 1rem;
    }
}

body {
    height: 5000px;
}

.nav-bg {
    background-color: rgba(49, 51, 61);
    z-index: 60;
}

.services .d-flex div {
    border: 1px solid #cfd7de;
    margin-bottom: 3rem;
    padding: 3.5rem 1rem 2.125rem 1rem;
}

.services h2 {
    color: #583343;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
    font-family: "Poppins";
    margin-bottom: 2rem;
}

.services p {
    color: #4d5055;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}

.services .d-flex p {
    width: 100%;
    margin-top: rem;
}

.services i {
    color: hsl(152, 88%, 35%);
    margin-bottom: 2rem;
}

.services h4 {
    color: #583343;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Poppins";
    margin-bottom: 2rem;
}